{"presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["firefox >= 40"],
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    ['react'],
    ['stage-0']
  ],
  "plugins": ["transform-decorators-legacy"]
  }